= simple_form_for @patient, html: { multipart: true } do |f|
	- if @patient.errors.any?
		#errors
			%h2
				= pluralize(@patient.errors.count, "error")
				prevented this Pin from saving
			%ul
				- @patient.errors.full_messages.each do |msg|
					%li= msg



	.container
		.row
			.col-md-3
				%h5= "Name"
			.col-md-9
				.col-md-3
					.form-group
						= f.input :name, label: "Name", input_html: { class: 'form-group' }
				.col-md-3
					.form-group
						= f.input :age, label: "Age", input_html: { class: 'form-group' }	
		.row
			.col-md-3
				%h5= "Height & Weight"
			.col-md-9
				.col-md-3
					.form-group
						= f.input :height, placeholder: "Height", input_html: { class: 'form-group' }
				.col-md-3
					.form-group
						= f.input :weight, placeholder: "Weight", input_html: { class: 'form-group' }
		.row
			.col-md-3
				%h5= "Metrics" 
			.col-md-3
				.form-group
					= f.input :bmi, placeholder: "BMI", input_html: { class: 'form-group' }
			.col-md-3
				.form-group
					= f.input :body_fat, placeholder: "Body Fat", input_html: { class: 'form-group' }
			.col-md-3
				.form-group
					= f.input :waist_circumference, placeholder: "Waist Circumference", input_html: { class: 'form-group' }
		.row
			.col-md-3
				= f.input :document, label: "Document", input_html: { class: 'form-group' }
				%p.help-block= "Upload any medical records"



		.row
			.col-md-6
				.form-group
					= f.input :history, label: "Medical History", placeholder: "Medical History", input_html: { class: 'form-group' }	
			.col-md-6
				.form-group
					= f.input :notes, placeholder: "Doctor Notes", input_html: { class: 'form-group' }

		.row
			.col-md-6
				.form-group
					= f.button :submit, class: "btn btn-primary"


