= image_tag @patient.image.url(:medium)
%br/
= link_to 'Document', @patient.document.url
%h1= @patient.name
%p= @patient.insurance
%p= @patient.age
%p
Created by
= @patient.user.email

%br/

= link_to "Back", root_path
= link_to "Edit", edit_patient_path
= link_to "Delete", patient_path, method: :delete, data: { confirm: "Are you sure"}